body{
    margin: 0px;
    background-color: rgb(153,30,46);
    font-family: sans-serif;
}

.main{
    min-height: 100vh;
    background-color: white;
    border-left: 5vw solid rgb(153,30,46);
    border-right: 5vw solid rgb(153,30,46);
    margin: 0px;
}

.header{
    display: flex;
    flex-direction: column;
    padding-left: 5vw;
    font-size: 2vw;   
}


.container{
    display: flex;
    justify-content:space-evenly;
    color: rgb(153,30,46);

}

/* Left container */
.lowerBounds{
    background-color: rgb(233,239,241);
    font-size: large;

    padding: 0 2vw 0 2vw;
    margin-bottom: 5vh;
    min-width: 30vw;
}

/* Right container */
.rightContainer{
    display: flex;
    flex-direction: column;
    gap: 50px;
    min-width: 40vw;
}


.histogram{
    background-color: rgb(233,239,241);
    padding-left: 2vw;
    padding-right: 20vw;
    padding-bottom: 50vh;
}

.stats{
    background-color: rgb(233,239,241);
    font-size: large;
    padding-left: 2vw;
    padding-bottom: 5vh;
    margin-bottom: 5vh;

}

.form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 20px;
    padding-left: 30px;
}

.input{
    display: flex;
    justify-content: space-between;
}

input[type=number]{
    padding: 10px;
    max-width: 50px;
}

label{
    color: black;
}

.statInfo{
    display: flex;
    flex-direction: column;
    color: black;
    padding-left: 20px;
}

p{
    margin: 10px;
}