body{
    font-family: sans-serif;
    background-color: rgb(153,30,46);
    margin: 0;
}

.main{
    background-color: white;
    margin: 0 5vw 0 5vw;
    min-height: 100vh;
    padding-bottom: 5vh;
}

.header{
    display: flex;
    flex-direction: column;
    padding-left: 2vw;
    margin: 0;
    font-size: 30px;
    gap: 1vh;
}

.inputFile{
    max-width:min-content;
}

.title{
    margin-bottom: 0px;
}

/*Main Grid*/

.gridContainer{
    display: grid;
    grid-template-columns: 42vw 42vw;
    justify-content: center;
    grid-gap: 2vw;
    color: rgb(153,30,46);
    font-size: larger;

    grid-template-areas: 
    'lowerBounds histogram'
    'lowerBounds stats'
}

.lowerBounds{
    background-color: rgb(233,239,241);
    grid-area: lowerBounds;
    padding-left: 2vw;
}

.histogram{
    background-color: rgb(233,239,241);
    grid-area: histogram;
    min-height: 45vh;
    padding-left: 2vw;
}

.stats{
    background-color: rgb(233,239,241);
    grid-area: stats;
    min-height: 20vh;
    padding-left: 2vw;
}

.form{
    display: flex;
    gap: 5vw;
}

.leftInput,
.rightInput{
    display: flex;
    flex-direction: column;
    color: black;
    gap: 2vw;
    padding-left: 2vw;
}

input:not(#fileInput){
    max-width: 4vw;
    min-height: 2vw;
}

h5{
    color: black;
    padding-left: 2vw;
}



/*MEDIA QUERIES*/

@media only screen and (max-width:600px){

    .gridContainer{    
        display: flex;
        flex-direction: column;
        gap: 2vh;
    }

    .lowerBounds,
    .histogram,
    .stats{
        margin-left: 2vw;
        margin-right: 2vw;
    }

    .lowerBounds{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 3vh;
    }
}