.btn.btn-primary{
    font-weight: bold;
    width: 100%;
    font-size: larger;
}

.dropdownSelection{
    width: 100%;
    padding: 0.5em;
}

.locationContainer{
    display: flex;
}

.locationTitle{
    display: flex;
    justify-content: center;
    align-items: center;
}
