
<ng-template #content let-modal>

	<div class="modal-header">
		<h4 class="modal-title" id="addModal">New Pig Report</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
	</div>

	<div class="modal-body">

		<!-- Form -->
		<form  [formGroup]="form" (ngSubmit)="onSubmit(form.value)" >
			<fieldset class="mb-3">

				<!-- Name -->
                <label for="name">Name</label>&nbsp;
				<span *ngIf="form.get('name')?.invalid && form.get('name')?.touched">
					<span *ngIf="form.get('name')?.errors?.['required']" class="text-danger"> REQUIRED</span>
					<span *ngIf="form.get('name')?.errors?.['invalidFormat']" class="text-danger"> (No spaces)</span>
				</span>
				<div class="input-group">
					<input
                        class="form-control"
						id="name"
						placeholder="name"
						name="name"
                        type="text"
                        formControlName="name"
					/>
				</div>

				<!-- Phone Number -->
				<label for="phoneNumber">Phone-number</label><br>
				<span *ngIf="form.get('phoneNumber')?.invalid && form.get('phoneNumber')?.touched">
					<span *ngIf="form.get('phoneNumber')?.hasError('pattern')" class="text-danger">Should only be numbers<br></span>
					<span class="text-danger">Should be 10 numbers</span>
				</span>	
				<div class="input-group">
					<input
						pattern="[0-9]*"
						maxlength= 10
						id="phoneNumber"
						class="form-control"
						placeholder="123456789"
						name="phoneNumber"
                        formControlName="phoneNumber"
					/>
				</div>

				<!-- Breed -->
                <label for="breed">Breed</label>
				<span *ngIf="form.get('breed')?.invalid && form.get('breed')?.touched">
					<span *ngIf="form.get('breed')?.errors?.['required']" class="text-danger"> REQUIRED</span>
				</span>
				<div class="input-group">
					<input
						id="breed"
						class="form-control"
						placeholder="breed"
						name="breed"
                        formControlName="breed"
					/>
				</div>
				
				<!-- ID -->
                <label for="pigID">Pig ID</label>
				<span *ngIf="form.get('pigID')?.invalid && form.get('pigID')?.touched">
					<span *ngIf="form.get('pigID')?.errors?.['required']" class="text-danger"> REQUIRED</span>
					<span *ngIf="form.get('pigID')?.hasError('pattern')" class="text-danger"> Should only be numbers<br></span>
				</span>
				<div class="input-group">
					<input
						id="pigID"
						class="form-control"
						placeholder="pigID"
						name="pigID"
                        formControlName="pigID"
					/>
				</div>

				<!-- Location -->
				<label for="location">Location: </label>
				<span *ngIf="form.get('location')?.invalid && form.get('location')?.touched">
					<span *ngIf="form.get('location')?.errors?.['required']" class="text-danger">  REQUIRED </span>
					<span *ngIf="form.get('location')?.errors?.['invalidFormat']" class="text-danger">{{form.get('location')?.errors?.['invalidFormat'].message}}</span>
				</span>
				<input list="locations" name="location" class="form-control" formControlName="location" placeholder="Name,Longitude,Latitude"/>
				<datalist id="locations">
					<option value="SFU Burnaby, 49.27771876941029, -122.9195895362721">
					<option value="SFU Surrey, 49.18711172841241, -122.84952884218839">
					<option value="Metrotown Mall, 49.22761436851514, -122.99899235433548">
					<option value="Brentwood Mall, 49.268312310205836, -123.00101307496053">
					<option value="Botanical Garden, 49.2396129360416, -123.13241106548072">
					<option value="Granville Island, 49.27123496349055, -123.13411088270685">
				</datalist>			
			
				<!-- Extra notes-->
                <label for="extraNote" >Extra Notes</label>
				<span *ngIf="form.get('extraNote')?.invalid && form.get('extraNote')?.touched">
					<span *ngIf="form.get('extraNote')?.errors?.['required']" class="text-danger"> REQUIRED</span>
				</span>
				<div class="input-group">
					<input
						id="extraNote"
						class="form-control"
						placeholder="notes"
						name="extraNote"
                        formControlName="extraNote"
					/>
				</div>
				
				<!-- Save BTN -->
				<div class="modal-footer">
					<button type="submit" class="btn btn-primary" (click)="modal.close('Save click')" [disabled]="!form.valid">Save</button>
				</div>
			</fieldset>	
		</form>
	</div>

</ng-template>

<button class="btn btn-primary" (click)="open(content)">CREATE PIG REPORT</button>

