.body{
    background-color: rgb(236,239,241);
}


.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 30px;
    margin-top: 5px;
    font-size: 30px;
    height: 140px;
    color: rgb(254,110,63);
    background-color: rgb(54,71,79);
}

.inventory{
    color: white;
    padding-left: 10px;
}

.bar1,
.bar2,
.bar3{
    width: 35px;
    height: 5px;
    margin: 6px;
    border: blue 1px solid;
    border-radius: 5px;
    background-color: white;
}

.navbar{
    margin-right: 25px;
}

.main{
    display: flex;
    gap: 100px;
    padding-left: 50px;
}

.textbookInfo1,
.textbookInfo2,
.textbookInfo3{
    max-width: 600px;
    padding-left: 30px;
    font-size: 25px;
    
}

.textbook,
.mainMenu{
    font-size: 40px;
}


.business,
.computingScience{
    text-decoration: none;
    font-size: 25px;
    color: darkred;
}
 
.menuLinks a{
    text-decoration: none;
}

.menuLinks{
    min-width: 300px;
}

.businessInfo{
    display: none;
    
}

.business:hover + .businessInfo{
    display: flex;
    flex-direction: column;
    max-width: 500px;
    font-size: 25px;
    color: black;
}

.businessContainer{
    display: flex;
    flex-direction: row;
}

.beedie{
    font-size: 30px;
    padding-bottom: 20px;
}

.beedieInfo{
    padding-left: 20px;
}


.computingScienceInfo{
    display: none;
}

.computingScience:hover + .computingScienceInfo{
    display: flex;
    flex-direction: column;
    max-width: 500px;
    font-size: 25px;
    color:black
}

.cs{
    font-size: 30px;
    padding-bottom: 20px;
}

.csInfo{
    padding-left: 20px;
}


@media only screen and (max-width: 700px){

    .header{
        font-size: 20px;
    }
}


@media only screen and (max-width: 550px){

    .main{
        flex-direction: column;
    }
}