.body{
    background: hsl(204,15%,94%);
    color: rgb(236,239,241);
}

* {
    font-family: sans-serif;
}

.header{
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 30px;
    margin-top: 5px;
    font-size: 30px;
    height: 140px;
    color: rgb(254,110,63);
    background-color: rgb(54,71,79);
}

.inventory{
    color: white;
    padding-left: 10px;
}


.menu{
    margin-right: 30px;
    min-width: 40px;
    min-height: 40px;
}

.main{
    display: flex;
    gap: 100px;
    padding-left: 50px;
}

.textbookInfo1,
.textbookInfo2,
.textbookInfo3{
    max-width: 600px;
    padding-left: 30px;
    font-size: 25px;
    
}

.textbook,
.mainMenu{
    font-size: 40px;
}


.business,
.computingScience{
    text-decoration: none;
    font-size: 25px;
    color: darkred;
}
 
.menuLinks a{
    text-decoration: none;
}

.menuLinks{
    min-width: 300px;
}

.businessInfo{
    display: none;
    
}

.business:hover + .businessInfo{
    display: flex;
    flex-direction: column;
    max-width: 500px;
    font-size: 25px;
    color: black;
}

.businessContainer{
    display: flex;
    flex-direction: row;
}

.beedie{
    font-size: 30px;
    padding-bottom: 20px;
}

.beedieInfo{
    padding-left: 20px;
}


.computingScienceInfo{
    display: none;
}

.computingScience:hover + .computingScienceInfo{
    display: flex;
    flex-direction: column;
    max-width: 500px;
    font-size: 25px;
    color:black
}

.cs{
    font-size: 30px;
    padding-bottom: 20px;
}

.csInfo{
    padding-left: 20px;
}


@media only screen and (max-width: 700px){

    .header{
        font-size: 20px;
    }
}


@media only screen and (max-width: 550px){

    .main{
        flex-direction: column;
    }
}

/* CSS for Computing Science Faculty Page */

.csBody{
    background: hsl(204,15%,94%);
    color: rgb(236,239,241);
}

.csHeader{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 30px;
    margin-top: 5px;
    font-size: 25px;
    height: 140px;
    color: rgb(254,110,63);
    background-color: rgb(54,71,79);
}

.csInventory{
    color: white;
}

.footer{
    padding-top: 50px;
    padding-left: 20px;
}

.returnBtn{
    text-transform: uppercase;
    text-decoration: none;
    color: darkred;
    font-size: 30px;
}

.csMain{
    display: flex;    
    justify-content: center;
    padding: 20px;
    gap: 20px;
}

img{
    max-width: 100%;
    max-height: 100%;
}

.csDescContainer{
    background-color: white;
    height: 120px;
    margin-top: 0px;
}

.csDesc {
    padding-top: 20px;
    padding-left: 20px;
    margin: 0px;
    font-size: 20px;
    color: black;
}

.seeMoreBTN{
    color: white;
    text-transform: capitalize;
    background-color: rgb(254,110,63);
    border-radius: 5px;
    width: 100px;
    padding: 10px;
    margin-left: 40px;
}

.seeMoreBTN:hover{
    transform: scale(1.05);
    cursor: pointer;
}


.csPic .seeMoreBTN{
    visibility: hidden;
}

.csPic:hover{
    box-shadow: 0 0 11px rgb(50, 50, 50); 
}
.csPic:hover .seeMoreBTN{
    visibility: visible;
    animation: fadeIn 2s;
}

@keyframes fadeIn{
    0% { opacity: 0;}
    100% {opacity: 1;}
}

/*Less than or equal to 770px only 2 pictures per row*/

/* TODO: Make csPage responsive
*/

@media only screen and (max-width: 770px){

    .csHeader{
        font-size: 15px;
        color: red;
    }
    
    .csMain{
        border: 1px blue solid;
        flex-direction: column;
    }

    .csPic{
        max-width: 300px;
    }
}


/*Less than or equal to 480px only 1 picture per row*/

@media only screen and (max-width: 480px){



    .csHeader{
        font-size: 10px;
        color: gray;
    }
    
    .csMain{
        border: 1px blue solid;
        flex-direction: column;
    }

    .csPic{
        max-width: 300px;
    }
}

/*  CSS for Business Faculty Page */
.busBody{
    background: hsl(204,15%,94%);
    color: rgb(236,239,241);   
}

.busHeader{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 30px;
    margin-top: 5px;
    font-size: 25px;
    height: 140px;
    color: rgb(254,110,63);
    background-color: rgb(54,71,79);
}

.busInventory{
    color: white;
}

.busMain{   
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

.busleftPics{
    display: flex;
    gap: 20px;
}
.busrightPics{
    display: flex;
    gap: 20px;
}

.busBook{
    max-width: 520px;
}

.busDesc {
    padding-top: 20px;
    padding-left: 20px;
    margin: 0px;
    font-size: 20px;
    color: black;
}

.busDescContainer{
    background-color: white;
    height: 120px;
    margin-top: 0px;
}

.busBook:hover{
    box-shadow: 0 0 11px rgb(50, 50, 50); 
}

.busBook .seeMoreBTN{
    visibility: hidden;
}

.busBook:hover .seeMoreBTN{
    visibility: visible;
    animation: fadeIn 2s;
}

/* When screen width less than or equal to 770*/
@media only screen and (max-width: 770px){

    .header{
        font-size: 15px;
    }

    .busMain{
        flex-direction: column;
    }
}

/* When screen width less than or equal to 480*/
@media only screen and (max-width: 480px){

    .busheader{
        font-size: 10px;
    }

    .busMain{
        flex-direction: column;
    }

    .busleftPics{
        flex-direction: column;
    }

    .busrightPics{
        flex-direction: column;
    }
}