body{
    margin: 0px;
    font-size: 25px;
    font-family:monospace;
    background-color: white;
    font-weight: bolder;
    background-image: url(./imgs/wallpaper.png);
    /*
        Background-image from https://www.pinterest.ca/pin/672936369303948416/
    */
}

.header{
    display: flex;
    justify-content: center;
    margin-top: 1vh;
    font-weight: bold;
    font-size: 40px;
}

.container{
    display: flex;
    margin-left: 1vw;
    margin-top: 2vw;
}

.leftContainer{
    width: 55%;
}

.rightContainer{
    margin-left: 5vw;
    width: 35%;
}

#addBTN{
    width: 50%;
    margin-top: 2vh;
    font-size: 30px;
}

#submitBTN{
    font-size: 20px;
    margin: 1vh 0 1vh 0;
    width: 40%;
}

table, th, td{
    border: 1px black solid;
}

td{
    min-width: 10vw;
}

table{
    width: 100%;
}

input{
    padding: 10px;
    font-size: 20px;
    font-weight: bolder;
}

#addTable{
    margin-bottom: 3vh;
    opacity: 0;

}

#infoTable{
    opacity: 0;
}


#category,#breed{
    width: 100%;
    font-size: 25px;
    font-weight: bolder;
    font-family:monospace;
}

#strength, #speed,#swimming{
    width: 90%;
    font-size: 25px;
    font-weight: bolder;
    font-family:monospace; 
}

.moreInfo,.delete{
    color: #0000EE; 
    text-decoration: underline;
}

.moreInfo:hover, .delete:hover{
    cursor: pointer;
}

#name,#height,#weight,#personality,#language{
    width: 92%;
}

#overlay {
    position: fixed;
    visibility: hidden;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    cursor: pointer;
}

#overlay{
    color: white;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#overlay:hover{
    cursor: default;
}

#confirmBox{
    padding: 4vw;
    display: flex;
    flex-direction: column;
    gap: 3vh;
    background-color: rgb(22, 21, 21);
    border-radius: 10px;
}

#confirmDelete,#cancelDelete{
    font-size: 20px;
    padding: 5px;
    font-weight: bold;
    font-family: monospace;
}


#confirm:hover,#cancel:hover{
    transform: scale(1.05);
    cursor: pointer;
}