
<ng-template #content let-modal>

	<div class="modal-header">
		<h4 class="modal-title" id="modal-basic-title">New Pig Report</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
	</div>

	<div class="modal-body">

		<!-- Form -->
		<form  [formGroup]="form" (ngSubmit)="onSubmit(form.value)" >
			<fieldset class="mb-3">

				<!-- Name -->
                <label for="name">Name</label>&nbsp;
				<span *ngIf="form.get('name')?.invalid && form.get('name')?.touched">
					<span *ngIf="form.get('name')?.errors?.['required']" class="text-danger"> REQUIRED</span>
				</span>
				<div class="input-group">
					<input
                        class="form-control"
						id="name"
						placeholder="name"
						name="name"
                        type="text"
                        formControlName="name"
					/>
				</div>
				
				<!-- Phone Number -->
                <label for="phoneNumber">Phone-number</label>
				<span *ngIf="form.get('phoneNumber')?.invalid && form.get('phoneNumber')?.touched">
					<span *ngIf="form.get('phoneNumber')?.errors?.['required']" class="text-danger"> REQUIRED</span>
				</span>
				<div class="input-group">
					<input
						id="phoneNumber"
						class="form-control"
						placeholder="123456789"
						name="phoneNumber"
                        formControlName="phoneNumber"
					/>
				</div>

				<!-- Pig Info -->
                <label for="pigInfo">Pig Info</label>
				<span *ngIf="form.get('pigInfo')?.invalid && form.get('pigInfo')?.touched">
					<span *ngIf="form.get('pigInfo')?.errors?.['required']" class="text-danger"> REQUIRED</span>
				</span>
				<div class="input-group">
					<input
						id="pigInfo"
						class="form-control"
						placeholder="info"
						name="pigInfo"
                        formControlName="pigInfo"
					/>
				</div>

				<!-- Location -->
				<div class="locationContainer">
					<div class="locationTitle" >
						Existing Location
					</div>
					<label class="switch" formControlName="location">
						<input type="checkbox" checked (click)="locationChoice()"/>
						<span class="slider round"></span>
					</label>
					<span *ngIf="form.get('location')?.invalid && form.get('location')?.touched">
						<span *ngIf="form.get('location')?.errors?.['required']" class="text-danger"> REQUIRED</span>
					</span>
				</div>
				<input list="locations" name="location" class="form-control" formControlName="location"/>
				<datalist id="locations">
					<option value="SFU Burnaby">
					<option value="SFU Surrey">
					<option value="Metrotown Mall">
					<option value="Brentwood Mall">
				</datalist>			
			
				<!-- Extra notes-->
                <label for="extraNote" >Extra Notes</label>
				<span *ngIf="form.get('extraNote')?.invalid && form.get('extraNote')?.touched">
					<span *ngIf="form.get('extraNote')?.errors?.['required']" class="text-danger"> REQUIRED</span>
				</span>
				<div class="input-group">
					<input
						id="extraNote"
						class="form-control"
						placeholder="notes"
						name="extraNote"
                        formControlName="extraNote"
					/>
				</div>
				
				<div class="modal-footer">
					<button type="submit" class="btn btn-primary" (click)="modal.close('Save click')" [disabled]="!form.valid">Save</button>
				</div>
			</fieldset>	
		</form>
	</div>




</ng-template>

<button class="btn btn-primary" (click)="open(content)">CREATE PIG REPORT</button>

